@import url('https://fonts.cdnfonts.com/css/outfit');
@import url('https://fonts.cdnfonts.com/css/futura-std-4');
@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/chinese-rocks');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    width: 100%;
    margin: 0 auto;
    transition: 0.2s background ease-in-out;
}

li,
a,
button {
    font-weight: 500;
    font-size: 16px;
    color: #F6E7EE;
    text-decoration: none;
}

header{
    position:fixed;
    background-color: #24252A;
    width: 100%;
    box-shadow: 1px 1px 7px black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 22px 6%;
    z-index: 99999;
}
.logo{
    cursor: pointer;
    margin-right: auto;
    height: 50px;
}
.navlinks{
    list-style: none;
}
.navlinks li{
    display: inline-block;
    padding: 0px 20px;

}
.navlinks li a{
    transition: all 0.3sec ease 0s;

}

.navlinks li a:hover{
    color:#BE1332;
    text-decoration: underline;
}

#contact {
    margin-right: 85px;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #BE1332;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    width: fit-content;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Adjust the padding as needed */
}

.big-heading {
    text-align: center;
    font-size: 180px; /* Adjusted to be three times bigger */
    font-weight: bold;
    margin-top: 50px; /* Adjust the margin top as needed */
}

.image-container {
    text-align: center;
    margin-top: 20px; /* Adjust the margin top as needed */
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainphoto {
    width: 100%;
    max-width: 500px; /* Adjust the maximum width as needed */
    height: auto;
    filter: contrast(200px);
    transform: scale(1.1) rotate(30deg) scaleX(-1);
    box-shadow: 0px 0px 20px #000; /* Added a box-shadow */
    z-index: 99;
    transition: 0.7s ease-in;
}

.mainphoto:hover {
    transform: scale(1.4) rotate(0deg) scaleX(-1);
}

.about-section {
    margin-bottom: 50px; /* Adjust the margin bottom as needed */
}
footer {
    background-color: #000000; /* Black background */
    padding: 20px; /* Adjust padding as needed */
    text-align: center; /* Center align the text */
}

.copyright p {
    color: #ffffff; /* White text color */
    font-size: 18px; /* Increase font size */
}
